/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1400px) {
  .s-main .description .info {
    margin-left: 6%;
  }
  .s-main .features .info {
    margin-right: 6%;
  }

  .top-line .collapsed nav {
    margin-left: 0;
  }

  .top-line {
    padding: 10px 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-center .container {
    padding-right: 55px;
    padding-left: 25px;
  }
  .header-center .header-composition h2 {
    font-size: 46px;
  }
  .top-line .collapsed nav ul li:not(:first-child) {
    padding-left: 30px;
  }

  .right-box {
    .soc {
      padding-left: 10px;
      padding-right: 0;
      order: 2;
    }
  }
  .top-line .collapsed .right-box .soc a {
    display: block;
  }

  .s-main .description .image,
  .s-main .features .image {
    width: 600px;
    height: 300px;
  }

  .s-main .description .info {
    margin-left: 7%;
  }
  .s-main .features .info {
    margin-right: 7%;
  }

  .s-main .features .image {
    margin-top: 16px;
  }

  .s-main .title {
    font-size: 29px;
  }
  .s-main .text {
    font-size: 15px;
  }

  .copyright .soc {
    margin-right: 30px;
  }
  .copyright .box {
    width: 960px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-center {
    padding-top: 80px;
    .header-composition {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }

  .form-box {
    display: flex;
    justify-content: center;
  }

  .header-center .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .minilogo {
    display: flex;
  }
  .top-line .collapsed {
    display: none;
  }

  .top-line .collapsed.show .right-box .soc a {
    display: inline-block;
  }
  .top-line .collapsed nav ul li:not(:first-child) {
    padding-left: 0;
  }
  .top-line .collapsed nav ul li {
    width: min-content;
  }

  .top-line {
    position: fixed;
    height: 45px;
    z-index: 1000;
  }

  .toggle-menu {
    display: block;
  }

  .top-line .collapsed {
    transition: 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }

  .top-line .collapsed.enter {
    transform: scale(1, 1);
    opacity: 1;
  }

  .top-line.show {
    height: 465px;
  }

  .top-line .collapsed.show {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.5s ease-in-out;

    .logo {
      padding: 30px 0;
      img {
        width: 55px;
      }
      a {
        h1 {
          font-size: 32px;
          span {
            font-size: 8px;
          }
        }
      }
    }
    nav {
      ul {
        padding: 0;
        list-style: none;
        color: #000;
        margin: 0;
        li {
          display: block;
          padding-bottom: 20px;
        }
      }
    }

    .right-box {
      flex-direction: column;
      align-items: flex-start;
      .soc {
        margin-left: -31px;
        margin-bottom: 20px;
        a {
          display: inline-block;
        }
      }
      .auth {
        margin-bottom: 15px;
      }
    }
  }

  .s-main .title {
    font-size: 24px;
  }
  .s-main .text {
    font-size: 14px;
  }
  .s-main .features .info {
    margin-top: 20px;
  }

  .copyright .box {
    width: 710px;
  }

  .copyright .soc {
    font-size: 22px;
  }

  #my-footer ul li a {
    font-size: 14px;
  }

  #my-footer .info-block {
    padding-left: 0;
  }
  #my-footer h3 {
    font-size: 24px;
  }

  .container .text-content {
    padding: 0 30px 40px 40px;
  }
  .text-content-img img {
    width: 230px;
  }

  .load-more {
    margin-left: 40%;
  }
  .main-chat .chat-container .posts .post .avatar {
    height: 50px;
    left: -25px;
    top: -20px;
    width: 50px;
  }
  .main-chat .chat-container .posts .post.my-post .my-avatar {
    height: 50px;
    right: -25px;
    top: -20px;
    width: 50px;
  }
  .w-post,
  .w-post-my {
    padding: 30px 50px 10px;
  }
  // .main-chat .chat-container .posts .post {
  //   padding: 20px 30px 45px;
  // }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .s-main .title {
    font-size: 24px;
  }
  .s-main .line {
    display: none;
  }
  .s-main .features,
  .s-main .description {
    flex-direction: column;
  }

  .s-main {
    .image {
      margin: 30px 0;
    }
    .title {
      margin-bottom: 27px;
      color: #f6f9fc;
      font-weight: bold;
      font-size: 32px;
    }

    .text {
      color: #f6f9fc;
      font-size: 16px;
    }

    .features {
      .image {
        background: url("/img/bg-1.svg") no-repeat bottom left;
      }

      .info {
        align-self: center;
      }
    }

    .description {
      .image {
        background: url("/img/bg-2.svg") no-repeat right bottom;
        align-self: flex-end;
      }

      .info {
        align-self: center;
      }
    }
  }
  .site-header .header-center .header-composition h2,
  .site-header .header-center .header-composition p {
    text-align: center;
  }

  .s-main .description .image {
    width: 400px;
    height: 250px;
  }
  .s-main .features .image {
    width: 400px;
    height: 250px;
  }

  .s-main .features .info,
  .s-main .description .info {
    margin: 0;
    margin-bottom: 10px;
  }
  .s-main .features .image {
    margin-top: 0px;
  }

  .copyright .box {
    width: 400px;
  }

  .info-block .col-md-3:not(:last-child) ul li:last-child {
    margin-bottom: 20px;
  }

  .chat-header .flex-container .search,
  .chat-header .flex-container .question {
    display: none;
  }

  .question i.fas {
    display: none;
  }

  .chat-header .logo img {
    width: 60px;
  }
  .chat-header .flex-container .link-home a {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 0;
  }

  .chat-header .flex-container .link-home {
    margin-right: 0;
  }

  .chat-header .logo h1 {
    font-size: 25px;
  }
  // .w-post, .w-post-my {
  //   padding: 40px 40px 15px;
  // }
  // .main-chat .chat-container .posts .post .avatar {
  //   width: 40px !important;
  //   height: 40px !important;
  //   top: -15px !important;
  //   left: -20px !important;
  // }

  // .main-chat .chat-container .posts .post.my-post .my-avatar {
  //   width: 40px !important;
  //   height: 40px !important;
  //   top: -15px !important;
  //   right: -20px !important;
  // }

  //   .loader-right {
  //     width: 300px;
  //     position: relative;
  //     left: 60px;
  //     margin-top: 50px;
  // }
  //   .loader-left {
  //     width: 300px;
  //     position: relative;
  //     left: -35px;
  //     margin-top: 50px;
  // }
  // .w-post,
  // .w-post-my {
  //   padding: 0 25px;
  // }
  // .load-more {
  //   margin-left: 35%;
  // }

  .main-chat .chat-container .posts .post .message .text {
    font-size: 13px;
  }
  .main-chat .chat-container .posts .post .message .footer {
    font-size: 10px;
  }
  .main-chat .chat-container .posts .post {
    padding: 10px 30px 30px 35px;
  }
  .main-chat .chat-container .posts .post.my-post {
    padding: 10px 35px 30px 30px;
  }

  .right-side-bar {
    h3 {
      display: none;
    }
    ul li {
      padding: 10px 0px 10px 10px;
    }
    ul li span {
      display: none;
    }
  }
  .tooltipster-profile-customized {
    min-width: 200px;
  }
  .tooltipster-profile-customized .tooltipster-content .header img {
    width: 80px;
    height: 80px;
  }
  .tooltipster-profile-customized .tooltipster-content .header strong {
    font-size: 15px;
  }
  .s-main .features .image,
  .s-main .description .image {
    order: 2;
    margin: 0;
  }
  .s-main .features .info,
  .s-main .description .info {
    padding-top: 30px;
  }

  .main-chat {
    padding-top: 61px;
  }

  .chat-header .logo {
    padding: 5px 0px 5px 10px;
  }
  .chat-header .logo img {
    width: 50px;
  }
  .chat-header .logo h1 {
    font-size: 22px;
  }

  .collapsed-bar .closes {
    top: 40px;
  }

  .noMatch img {
    width: 350px;
  }
  .noMatch h3 {
    font-size: 20px;
  }

  .main-chat .send-message > input {
    font-size: 13px;
  }
  .main-chat .send-message .send {
    padding: 10px 20px;
  }
  .main-chat .send-message .link {
    padding: 10px 20px;
  }
  .main-chat .send-message .smile {
    padding: 10px 20px;
  }
  .right-side-bar ul li img {
    height: 35px;
    width: 35px;
  }
  // .grid {
  //   padding: 0;
  // }
  .loader-right {
    width: 250px;
    position: relative;
    right: -25px;
    // margin-top: 50px;
  }
  .loader-left {
    width: 250px;
    position: relative;
    left: -22px;
    // margin-top: 50px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-center {
    .header-composition {
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .register-container,
  .auth-container {
    padding: 30px 10px 10px 10px;
  }

  .s-main .description .image {
    width: 300px;
    height: 200px;
  }

  .s-main .title {
    font-size: 24px;
  }

  .s-main .features .info,
  .s-main .description .info {
    width: 300px;
  }

  .s-main .features .image {
    width: 300px;
    height: 150px;
  }

  .s-main .features .info {
    padding-right: 15px;
  }
  .s-main .description .info {
    padding-left: 15px;
  }

  .header-center .register-form .form-header h3 {
    margin-top: 20px;
    font-size: 20px;
  }

  .header-center .register-form .form-group label {
    font-size: 12px;
  }

  .copyright .box {
    width: 280px;
  }
  .copyright .soc {
    margin-right: 0;
  }

  #my-footer h3 {
    font-size: 24px;
  }
  #my-footer ul li a {
    font-size: 16px;
  }

  // .main-chat .chat-container .posts .post,
  // .main-chat .chat-container .posts .post.my-post {
  //   min-width: 250px;
  // }

  .tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized
    .tooltipster-content {
    font-size: 9px;
  }

  .manage-panel .footer a {
    padding: 10px 25px;
  }
  .manage-panel .body .left-column {
    padding-right: 10px;
  }

  .manage-panel .body .right-column {
    padding-right: 10px;
  }

  .manage-panel .body .right-column .friends .friend:last-child {
    display: none;
  }
  .manage-panel .body .right-column .contact-info h4.title::before {
    right: -10px;
  }

  .profileBtn {
    min-width: 125px;
  }
  .header-center .manage-panel {
    width: 100%;
  }
  .error-tooltipster {
    font-size: 9px;
    top: 80px;
  }

  .noMatch img {
    width: 250px;
  }
  .noMatch h3 {
    font-size: 18px;
  }
  .main-chat .chat-container .posts .post .avatar {
    height: 30px;
    left: -15px;
    top: -10px;
    width: 30px;
  }
  .main-chat .chat-container .posts .post.my-post .my-avatar {
    height: 30px;
    right: -15px;
    top: -10px;
    width: 30px;
  }
  //   .w-post, .w-post-my {
  //     padding: 40px 20px 15px;
  // }
  .main-chat .chat-container .posts .post .message .footer {
    font-size: 9px;
  }
  .w-post,
  .w-post-my {
    padding: 20px 20px 5px;
  }
  // .main-chat .chat-container .posts .post .message .text {
  //   font-size: 10px;
  // }
  .load-more {
    margin-left: 20%;
    font-size: 12px;
    height: 40px;
    width: 140px;
  }
  .emoji-mart {
    width: 250px !important;
    height: 300px;
  }
  .emoji-mart-scroll {
    height: 200px;
  }
  .main-chat {
    padding-top: 40px;
  }
  .chat-header .logo img {
    width: 30px;
  }
  .chat-header .logo h1 {
    font-size: 14px;
  }
  .collapsed-bar .closes {
    top: 17px;
  }
  .chat-header .logo h1 {
    border-bottom: 0.5px solid #fff;
  }
  .scroller {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  .main-chat .chat-container .posts .post.my-post,
  .main-chat .chat-container .posts .post {
    min-width: 180px;
  }
  .loading-bar {
    margin-left: 45%;
  }
  .loading-spinner {
    transform: scale(.5);
  }
  .main-chat .chat-container .posts .post {
    padding: 10px 15px 20px;
  }
  .main-chat .chat-container .posts .post.my-post {
    padding: 10px 15px 20px;
  }
  .is-chat .ant-drawer .description-item {
    font-size: 12px !important;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .w-post-my {
    width: 100% !important;
    left: auto;
    right: auto;
  }
  // .main-chat .chat-container .posts .post .avatar {
  //   height: 30px!important;
  //   left: -13px!important;
  //   top: -14px!important;
  //   width: 30px!important;
  // }
  // .main-chat .chat-container .posts .post.my-post .my-avatar {
  //   height: 30px!important;
  //   right: -13px!important;
  //   top: -14px!important;
  //   width: 30px!important;
  // }
  // .main-chat .chat-container .posts .post .message .text {
  //   font-size: 11.5px;
  // }
  // .main-chat .chat-container .posts .post .message .footer {
  //   bottom: 5px;
  //   font-size: 7px;
  // }
  // .main-chat .chat-container .posts .post, .main-chat .chat-container .posts .post.my-post {
  //   min-width: 210px;
  // }
  // .main-chat .chat-container .posts .post {
  //   padding: 5px 15px 15px;
  // }
  // .w-post, .w-post-my {
  //   padding: 0 15px;
  // }
}
